.box_parent{
    background-color: pink;
    height: 250px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.box_child{
    background-color: gold;
    width: 50%;
    margin-top: 70px;
}