.box{
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: red;;
}

.box1{
    border: 10px solid blue;

}

.box2{
    border: 20px solid green;
    margin-left: 160px;
    
}

.box3{
    border: 30px solid gold;
    margin-left: 340px;
    
}

